:root {
    --height: calc(100vh - 55px)
}

body {
    height: 100vh;
    margin: 0px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #45489a, #4c428e, #513c83, #533677, #54316c);
}

body::-webkit-scrollbar,
.drops::-webkit-scrollbar,
.chatbox::-webkit-scrollbar,
.shop-items::-webkit-scrollbar,
.map-dropdown::-webkit-scrollbar,
.wiki-container::-webkit-scrollbar {
    width: 0;
}

* {
    box-sizing: border-box;
}

.navbar {
    z-index: 9998;
    height: 55px;
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 18px;
    background: linear-gradient(to right bottom, #45489a, #4c428e, #513c83, #533677, #54316c);
}

.logo {
    height: 55px;
}

.logo svg:hover {
    cursor: pointer;
    fill: #dcffe8;
    transform: scale(1.4);
    transition: 0.2s;
}

.navlinks {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    width: 450px;
    justify-content: space-around;
}

.menu-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: clamp(180px, 40%, 500px);
    justify-content: space-around;
    align-items: center;
}

.navlinks a, .menu-links a, .wiki-nav a {
    text-decoration: none;
    color: rgb(8, 156, 167);
    margin: 15px;
}

.menu-links a{
    margin-right: 60px;
}

.menu-links button {
    margin-right: 40px;
}

.open-button {
    margin-left: auto;
    margin-right: 20px;
}

.open-button:hover, .shop:hover {
    color:green;
    transition: 0.5s;
}

.nav-menu {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
}

.open {
    position: fixed;
    z-index: 9999;
}

.link-container {
    display: flex;
    flex-direction: column;
    float: right;
    width: clamp(250px, 50%, 300px);
    height: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 18px;
    background: linear-gradient(to right bottom, #45489a, #4c428e, #513c83, #533677, #54316c);
}

.navbar button{
    border: none;
    background: transparent;
    color: rgb(8, 156, 167);
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 18px;
    padding: 0;
}

.navbar h1 {
    font-size: 18px;
    position: absolute;
    margin-left: 80px;
}

.close-button, .back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 17px;
    margin-top: 8px;
}

.close-button:hover {
    color: red;
    transition: 0.5s;
}

.home-page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    min-height: 720px;
}

.home-text {
    height: 100%;
    font-family: URW Chancery L, cursive;
    text-align: center;
}

.home-text h1 {
    font-size: 70px;
}

.login-page {
    height: 100vh;
    min-height: 565px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    margin-top: 60px;
    width: 900px;
    min-height: 480px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;
    background: whitesmoke;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field-container{
    width: clamp(200px, 60%, 500px);
    height: 35px;
    border: 3px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
}

.field-container input {
    border: none;
    height: 100%;
    width: 100%;
    font-size: 15px;
    border-left: 3px solid black;
    outline: none;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    height: 100%;
    background-image: url("https://i.imgur.com/RnwnIzX.gif");
    background-size: cover;
    border-radius: 10px;
    width: 100%;
}

.left, .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.login {
    border-radius: 0 10px 10px 0;
    padding-top: 50px;
}

.signup {
    border-radius: 10px 0 0 10px;
}

.login-container button {
    padding: 10px;
    border: none;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    background-color: #0730a1;
    color: white;
    font-weight: 400;
    border-radius: 2px;
    cursor: pointer;
}

.login-container button:focus {
    transform: scale(0.90);
}

.error {
    border-color: red !important;
    transition: 0.5s;
}

.error-container {
    color: red;
    font-size: clamp(12px, 2vw, 18px);
}

.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
    background-image: url("https://i1.wp.com/i.redd.it/gfjwc3en2iu31.png?resize=640%2C9999&ssl=1");
    background-repeat: no-repeat;
    background-size: cover;
}



.game-container {
    margin-top: 10px;
    min-height: 700px;
    height: 700px;
    width: 888px;
    background: whitesmoke;
    position: relative;
}

@media (max-height: 800px), (max-width: 1020px) {
    .game-container {
        zoom: 0.75
    }
 }

 @media (max-height: 600px), (max-width: 800px) {
     .game-container {
        zoom: 0.5;
     }
 }

 @media (max-height: 420px), (max-width: 500px) {
     .game-container {
         zoom: 0.4
     }
 }

 @media (max-height: 350px) {
    .game-container {
        zoom: 0.25
    }
}

.selection-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.character-card {
    height: 30%;
    width: 90%;
    display: flex;
    border-radius: 50px;
    border-style: outset;
    position: relative;
}

.info-container, .stats-container {
    width: 35%;
    height: 100%;
}

.image-container {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    border-radius: 50px;
    position: absolute;
}

.stats-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 265px;
}

.stat-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 5px;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 20px;
}

.stat-bars {
    height: 85px;
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bar-border {
    height: 25px;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
}

.mp, .hp, .exp {
    color: white;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hp-bar, .mp-bar {
    height: 100%;
    transition: 1s ease;
    position: absolute;
    z-index: 1;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container h1 {
    font-size: 20px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-buttons {
    width: 80%;
    margin-top: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.select-buttons button, .confirm-buttons button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    height: 30px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in-out;
}

.svg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.confirm-overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.3);
    z-index: 5;
    position: absolute;
    text-align: center;
}

.confirm-box {
    margin-left: 28%;
    width: 400px;
    height: 210px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.confirm-box h1 {
    font-size: 25px;
}

.confirm-buttons {
    width: 80%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.return, .delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.return button:hover {
    background: blue;
}

.delete button:hover, .delete-btn:hover {
    background: red !important;
}

.play-btn:hover {
    background: green !important;
}

.create-button {
    align-self: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in-out;
}

.creation-container {
    margin-left: 5%;
    width: 800px;
    height: 500px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.creation-container h1{
    margin-bottom: 0;
}

.class-names {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.class-names h2 {
    cursor: pointer;
}

.creation-info {
    display: flex;
    height: 300px;
    width: 100%;
}

.creation-sprite {
    height: 300px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
    align-self: flex-start;
    position: absolute;
    bottom: 20%;
}

.creation-buttons {
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

}

.creation-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    margin-left: auto;
}

.base-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 20px;
    position: relative;
}

.stat-bar {
    background: white;
    height: 100%;
    transition: 1s ease;
}

.creation-buttons button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    height: 30px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in-out;
}

.return-btn:hover {
    background: blue;
}

.create-btn:hover {
    background: green;
}

.creation-container form {
    position: absolute;
    left: 5%;
    top: 80%;
    display: flex;
    align-items: center;
    height: 35px;
}

.creation-container label {
    font-size: 18px;
}

.creation-container input {
    border-radius: 5px;
    border: 2px solid black;
    margin-left: 5px;
    height: 25px;
    font-size: 18px;
    outline: none;
    width: 170px;
}

.creation-errors {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    margin-right: 62%;
}

.creation-errors p {
    color: red;
    font-size: 15px;
    margin: 0;
}

.map {
    height: 100%;
    overflow: hidden;
}

.introduction, .battle-intro {
    height: 100%;
    position: relative;
}

.seller {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.ui {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}

.chatbox {
    border-top: 1px solid black;
    border-radius: 5px 0 0 5px;
    width: 60%;
    height: 100%;
    overflow-y: scroll;
}

.chatbox p {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: 5px;
}

.player-info-ui {
    display: flex;
    height: 100%;
    width: 40%;
    background: transparent;

}

.ui-icon-container {
    margin-left: auto;
    width: 50px;
    display: flex;
    flex-direction: column;
}

.ui-icon {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
    transition: 0.3s ease-in-out;
}

.ui-icon:hover {
    background-color: rgba(245, 245, 245, 0.4);
}

.player-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    border-top: 1px solid black;
}

.player-info {
    margin-top: auto;
    height: 50px;
    display: flex;
}

.ui-level {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.ui-gold {
    margin-left: auto;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
}

.gold-sprite {
    height: 80%;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.ui-player-name {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui-player-name p {
    margin: 0;
}

.ui-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.ui-bar {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.ui-bar b {
    margin-left: 20px;
}

.ui-bar .bar-border {
    margin-right: 20px;
    width: 70%;
}

.ui-bar p {
    position: absolute;
    color: whitesmoke;
    z-index: 1;
}

.ui-hp, .ui-mp, .ui-exp {
    position: absolute;
    height: 100%;
    transition: 1s ease;
}

.arrow {
    position: absolute;
    bottom: 25%;
    left: 30.5%;
    z-index: 1;
}

.skills-menu, .inventory-menu, .stats-menu {
    font-family: Luminari, fantasy;
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.skill-icon, .item-icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.skill-icon {
    cursor: pointer;
}

.inventory-menu, .stats-menu {
    height: 250px;
    width: 300px;
}

.stats-menu {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-menu h1 {
    font-size: 25px;
    margin-top: 0;
}

.ui-stats {
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    flex-wrap: wrap;
}

.ui-stat {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.end-tutorial {
    position: absolute;
    top: 30%;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.end-tutorial:hover {
    color: white
}

.map-container {

    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.map-back1, .map-back2 {
    background-size: contain;
    background-repeat: no-repeat;
    width: 888px;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.player-container {
    position: relative;
    height: 300px;
    width: 45%;
    transform: translateY(-240px);
}

.battle-intro h1 {
    position: absolute;
    color: darkred;
    top: 0;
    left: 35%;
    font-size: 50px;
}

.monster-info {
    top: 0;
    right: 0;
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.monster-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: bold;
}

.battle-ui {
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 500px;
}

.selected-move {
    position: absolute;
    height: 30px;
    width: 250px;
    border: 1px solid black;
    top: 42%;
    left: 35%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    z-index: 1;
}

.selected-move button {
    height: 30px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.selected-move button:hover, .default-attack:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white
}

.selected-move button:focus, .default-attack:focus {
    outline: none;
}

.default-attack {
    position: absolute;
    top: 50%;
    left: 45%;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    border: none;
    transition: 0.2s ease-in-out;
    width: 70px;
    font-family: Impact, fantasy;
    font-size: 15px;
    z-index: 1;
}

.sprite-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.battle-item {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 70%;
    left: -50px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    border-radius: 50px;
}

.victory {
    position: absolute;
    top: -500px;
    width: 100%;
    height: 500px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.victory h2 {
    font-size: 60px;
    color: rgb(90, 3, 90);
}

.victory-btn {
    width: 180px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.victory-btn:hover {
    background-color: gold;
}

.wiki-page {
    border: 1px solid transparent;
    height: 100vh;
}

.wiki-nav {
    margin-top: 55px;
    width: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

.wiki-container {
    height: calc(100% - 120px);
    margin-top: 120px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

.wiki-table td, .wiki-table th{
    border: 2px solid black;
    padding: 20px;
}

.wiki-class-container {
    width: 100%;
    max-width: 1500px;
}

.class-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wiki-characters-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wiki-character {
    height: 400px;
    width: 400px;
    overflow: hidden;
    position: relative;
}

.wiki-char {
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 550px;
}

.wiki-character p {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 20%;
}

.wiki-mon {
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    margin-top: 50px;
}

.map-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    max-height: 500px;
    overflow-y: scroll;
    text-align: center;
    cursor: pointer;
    color: white;
    z-index: 1;
}

.map-name {
    height: 50px;
    margin: 0;
    border: 1px solid transparent;
    width: 100%;
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: Luminari, fantasy;
}

.map-name:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.drops-container {
    position: absolute;
    top: 0;
    left: 344px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.3);
}

.drops-container h6 {
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: yellow;
}

.drops {
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.tool-tip {
    font-size: 15px;
    border: 2px solid black;
    height: 250px;
    width: 200px;
    z-index: 10;
    position: absolute;
    right: -205px;
    bottom: -230px;
    background-color: rgba(136, 183, 213, 0.7);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.tool-tip:after, .tool-tip:before {
	right: 100%;
	top: 10px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tool-tip:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: rgba(136, 183, 213, 0.7);
	border-width: 5px;
	margin-top: -5px;
}
.tool-tip:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000000;
	border-width: 8px;
	margin-top: -8px;
}

.travel {
    font-family: Luminari, fantasy;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop {
    position: absolute;
    font-family: Luminari, fantasy;
    height: 50px;
    right: 0;
    top: 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: whitesmoke;
}

.shop-container {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.shop-menu {
    display: flex;
    flex-direction: column;
    float: right;
    width: 335px;
    height: 99.7%;
    font-family: Luminari, fantasy;
    font-size: 18px;
    background: rgba(168, 160, 178, 0.9);
    cursor: default;
}

.shop-items {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    list-style: none;
}

.shop-item {
    width: 100%;
    height: 50px;
    margin-left: 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.shop-gold {
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.gold-img {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.shop-tool-tip {
	background: rgba(168, 160, 178, 0.9);
    z-index: 5;
    position: absolute;
    right: 335px;
    top: 0;
    height: 230px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.buy-button, .sell-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.upgrade {
    position: absolute;
    bottom: 200px;
    right: 0;
    font-family: Luminari, fantasy;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: whitesmoke;
}

.upgrade p:hover {
    color: gold;
    transition: 0.5s;
}

.shop-buttons {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 17px;
    margin-top: 8px;
}

.shop-buttons .close-button, .shop-buttons .back-button {
    margin-top: 0;
}

.back-button {
    margin-left: 0;
}

.back-button:hover {
    color: blue;
    transition: 0.5s;
}

.shop-options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    font-size: 40px;
}

.shop-options p:hover {
    color: whitesmoke;
    transition: 0.5s;
    cursor: pointer;
}